@use "../global/variables" as *;
@use "../global/media-queries" as *;

.home-content {
  margin-top: 4rem;
  @include media-content-large {
    margin-top: 10rem;
  }
  .article-list {
    margin-top: $spacing-large;
  }
}
