---
layout: default
---
<h1>Oops!</h1>

<p class="callout">
  {{ status }}
  {{ description }}
</p>

Looks like something’s gone wrong. Maybe you’ll find what what you’re looking for on the <a href="/">home page</a>? How
about <a href="http://http.cat/{{ status }}">a picture of a cat</a>?
