<footer class="footer">
  <div class="header-footer-container">
    <ul class="social-links">
      <li class="social-link">
        <a class="icon-group" href="mailto:hello@nickpiesco.com">
          <span class="icon icon-mail" aria-hidden="true"></span>
          <span class="icon-text">E-mail</span>
        </a>
      </li>
      <li class="social-link">
        <a class="icon-group" href="https://twitter.com/nickpiesco">
          <span class="icon icon-twitter" aria-hidden="true"></span>
          <span class="icon-text">Twitter</span>
        </a>
      </li>
      <li class="social-link">
        <a class="icon-group" href="https://instagram.com/nickpiesco/">
          <span class="icon icon-instagram" aria-hidden="true"></span>
          <span class="icon-text">Instagram</span>
        </a>
      </li>
      <li class="social-link">
        <a class="icon-group" href="https://www.linkedin.com/in/nickpiesco">
          <span class="icon icon-linkedin" aria-hidden="true"></span>
          <span class="icon-text">LinkedIn</span>
        </a>
      </li>
      <li class="social-link">
        <a class="icon-group" href="https://github.com/nickpiesco">
          <span class="icon icon-github" aria-hidden="true"></span>
          <span class="icon-text">GitHub</span>
        </a>
      </li>
      <li class="social-link">
        <a class="icon-group" href="http://codepen.io/nickpiesco/">
          <span class="icon icon-codepen" aria-hidden="true"></span>
          <span class="icon-text">CodePen</span>
        </a>
      </li>
    </ul>
    <div class="colophon">
      <span class="copyright">Copyright &copy; {{ site.time | date: "%Y" }} Nick Piesco</span>
      <a class="nerds" href="/pattern-library.html">What’s up, nerds?</a>
    </div>
  </div>
</footer>
