<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>
    {% if page.title %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% endif %}
  </title>
  <meta name="description" content="{{ page.excerpt }}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic|Inconsolata:400,700">
  <link rel="stylesheet" href="/assets/css/main.css">

  {% include analytics.html %}
</head>
